<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEEwpLtEllcA6vqEofievawwRwIU2YEf4</string>
	<key>GCM_SENDER_ID</key>
	<string>112754640383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drivesense.drivesense</string>
	<key>PROJECT_ID</key>
	<string>smartparking-12902</string>
	<key>STORAGE_BUCKET</key>
	<string>smartparking-12902.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112754640383:ios:884516ac30f493c55913ca</string>
	<key>DATABASE_URL</key>
	<string>https://smartparking-12902-default-rtdb.firebaseio.com</string>
</dict>
</plist>